:root {
    --color-header-bg: #1f2d46;
    --color-header-text: #77addc;
    --color-body-bg: #1f2837;
    --color-body-text: #77addc;
    --color-main-bg: #1f2837;
    --color-main-text: #77addc;
    --color-secondary-text: #a3cf06;
}